BNTU
workspace.xml
x64
LABA1.1PPOIS.vcxproj
LABA1.1PPOIS.vcxproj.filters
LABA1.1PPOIS.vcxproj.user
.googletest
.idea
.venv
course-3-semester-2
*.aux
*.log
*.toc
*.out
*.fls
*.fdb_latexmk
*.synctex.gz
*.bbl
*.blg